{
    -webkit-font-smoothing: antialiased;
  }
  .slick-prev, .slick-next {
        width: 35px !important;
      height: 35px !important;
      border: 0px solid #fff !important;
      border-radius: 50px !important;
      font-family: inherit !important;
  }
  .slick-slide img {
      display:inline-block;
  }
  .slick-prev:hover .slick-prev:before , .slick-next:hover .slick-next:before {
        color:black;
  }
  .slick-prev:before, .slick-next:before {
      font-family: inherit !important;
  }
  .slick-next {
      right: 5px;
  }
  .slick-prev {
      left: 5px !important;;
  }
  .slick-prev, .slick-next {
      z-index:5000;
  }
  
  .slick-dots {
          bottom:-2rem;
  }
  .slick-dots li {
          width:1rem;
  }
  
  .slick-dots li.slick-active button {
      
          opacity: 1;
  }
  
  
  
  .slick-dots li button {
          opacity: 0.3;
          width:0.25rem;
      height:0.25rem;
      border-radius:1rem;
      background-color:black;
  }
  .slick-dots li button:before {
          color:black;
      font-size:0px;
  }
  @media only screen and (max-width: 600px) {
    .slick-prev, .slick-next {
          top: auto;
      width: 30px !important;
      height: 30px !important;
      bottom: 0;
      margin: 0 20px;
  }
  .testimonials-content {
      font-size: 24px;
      line-height: 36px;
  }
  .name {
          font-size: 22px;
  }
  }